<mat-card>
  <mat-card-title *ngIf="!fromOperadora">Editar Empresa</mat-card-title>
  <form  *ngIf="empresa">
    <mat-form-field appearance="fill">
      <input
        type="text"
        id="razao_social"
        required
        minlength="4"
        matInput
        placeholder="Razão Social"
        [(ngModel)]="empresa.razao_social"
        #razao_social="ngModel"
        name="razao_social"
      />
      <div *ngIf="razao_social.invalid && (razao_social.dirty || razao_social.touched)" class="alert">
        <div *ngIf="razao_social.errors?.['required']">
          O campo é obrigatório!
        </div>
        <div *ngIf="razao_social.errors?.['minlength']">
          O nome dever conter no mínimo 4 caracteres!
        </div>
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        type="text"
        id="nome_fantasia"
        required
        minlength="4"
        matInput
        placeholder="Nome Fantasia"
        [(ngModel)]="empresa.nome_fantasia"
        #nome_fantasia="ngModel"
        name="nome_fantasia"
      />
      <div *ngIf="nome_fantasia.invalid && (nome_fantasia.dirty || nome_fantasia.touched)" class="alert">
        <div *ngIf="nome_fantasia.errors?.['required']">
          O campo é obrigatório!
        </div>
        <div *ngIf="nome_fantasia.errors?.['minlength']">
          O nome dever conter no mínimo 4 caracteres!
        </div>
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        type="text"
        pattern="\d*"
        id="cnpj"
        required
        minlength="11"
        maxlength="11"
        matInput
        placeholder="CNPJ"
        [(ngModel)]="empresa.cnpj"
        #cnpj="ngModel"
        name="cnpj"
      />
      <div *ngIf="cnpj.invalid && (cnpj.dirty || cnpj.touched)" class="alert">
        <div *ngIf="cnpj.errors?.['required']">
          O campo é obrigatório!
        </div>
        <div *ngIf="cnpj.errors?.['minlength']">
          O cnpj dever conter 11 caracteres!
        </div>
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
      type="text"
        pattern="\d*"
        id="inscricao_estadual"
        required
        minlength="9"
        maxlength="9"
        matInput
        placeholder="Isc. Estadual"
        [(ngModel)]="empresa.inscricao_estadual"
        #inscricao_estadual= "ngModel"
        name="inscricao_estadual"
      />
      <div *ngIf="inscricao_estadual.invalid && (inscricao_estadual.dirty || inscricao_estadual.touched)" class="alert">
        <div *ngIf="inscricao_estadual.errors?.['required']">
          O campo é obrigatório!
        </div>
        <div *ngIf="inscricao_estadual.errors?.['minlength']">
          A Inscrição Estadual dever conter 9 caracteres!
        </div>
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Endereço"
        [(ngModel)]="empresa.endereco"
        name="endereco"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Bairro"
        [(ngModel)]="empresa.bairro"
        name="Bairro"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="CEP"
        [(ngModel)]="empresa.cep"
        name="cep"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Cidade"
        [(ngModel)]="empresa.cidade"
        name="cidade"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="UF"
        [(ngModel)]="empresa.uf"
        name="uf"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Telefone"
        [(ngModel)]="empresa.telefone"
        name="telefone"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Fax"
        [(ngModel)]="empresa.fax"
        name="fax"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Contato"
        [(ngModel)]="empresa.nome_contato"
        name="nome_contato"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        type="text"
        id="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
        matInput
        placeholder="Email"
        [(ngModel)]="empresa.email"
        #email="ngModel"
        name="email"
      />
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
        <div [hidden]="!email.errors?.pattern">
          Padrão inválido para email!
        </div>
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Cod Município"
        [(ngModel)]="empresa.cod_ibge_municipio"
        name="cod_ibge_municipio"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Número"
        [(ngModel)]="empresa.numero"
        name="numero"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Alvara"
        [(ngModel)]="empresa.alvara"
        name="alvara"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Alvara UF"
        [(ngModel)]="empresa.alvara_uf"
        name="alvara_uf"
      />
    </mat-form-field>
  </form>
  <div *ngIf="!fromOperadora">
    <button mat-raised-button (click)="updateEmpresa()" color="primary">
      Salvar
    </button>
    <button mat-raised-button (click)="cancel()" color="warn">Cancelar</button>
  </div>
</mat-card>

