<body>
  <!-- User Login Form -->
  <div class="container">
    <div class="row justify-content-center mt-3">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card shadow">
          <div class="card-title text-center border-bottom">
            <h2 class="p-3 m-0">Fazer Login</h2>
          </div>
          <div class="card-body">
            <form [formGroup]="authForm" (ngSubmit)="userLogin()" novalidate>
              <div class="mb-4">
                <label for="email" class="form-label">Email</label>
                <input type="email"
                  id="email"
                  matInput
                  title="exemplo@email.com"
                  name="email"
                  [(ngModel)]="login.user.email"
                  #email
                  required
                  autocomplete="on"
                  formControlName="email"
                />
              </div>
              <div *ngIf="authForm.controls['email'].invalid && 
                (authForm.controls['email'].dirty || 
                authForm.controls['email'].touched)" class="alert alert-danger"
              >
                <div *ngIf="authForm.controls['email'].errors?.required">
                  O email deve ser informado!
                </div>
              </div>
              <div class="mb-4">
                <label for="password" class="form-label">Senha</label>
                <input type="password"
                  id="password"
                  matInput
                  title="Senha"
                  name="password"
                  [(ngModel)]="login.user.password"
                  #password
                  required
                  formControlName="password"
                />
              </div>
              <div *ngIf="authForm.controls['password'].invalid &&
                (authForm.controls['password'].dirty ||
                authForm.controls['password'].touched)" class="alert alert-danger"
              >
                <div *ngIf="authForm.controls['password'].errors?.required">
                  A senha deve ser informada!
                </div>
              </div>
              <div class="d-grid">
                <button 
                  type="submit"
                  class="btn btn-primary"
                  (click)="userLogin()"
                >
                Entrar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
