.header {
  display: flex;
  align-items: center;
  background-color: #1976d2;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color:white;
  font-size: large;
  font-weight: 500;
}

.header .title-group {
  padding-left: 25px;
}

.header .title-group i{
  padding-right: 5px;
}

.header .btn {
  margin: auto 0 auto auto;
  font-size: large;
  font-weight: 400;
  color:white;
}

.header .btn i {
  vertical-align: middle;
  color:white;
}
