<mat-toolbar class="header mat-elevation-z4">
  <div class="text">
    <a routerLink="/"> LISWEB </a>
  </div>
  <div class="btn">
    <button mat-button [matMenuTriggerFor]="cadastro">
      <mat-icon>assignment</mat-icon>
      Cadastrar
    </button>
    <mat-menu #cadastro="matMenu">
      <button mat-menu-item>
        <a mat-list-item routerLink="/">Home</a>
      </button>
      <button mat-menu-item>
        <a mat-list-item routerLink="/laboratorydomains">Lab. Domínio</a>
      </button>
      <button mat-menu-item>
        <a mat-list-item routerLink="/laboratorios">Laboratório</a>
      </button>
      <button mat-menu-item>
        <a mat-list-item routerLink="/pacientes/read">Pacientes</a>
      </button>
      <button mat-menu-item>
        <a mat-list-item routerLink="/usuarios/read">Usuarios</a>
      </button>
      <button mat-menu-item>
        <a mat-list-item routerLink="/requisicoes">Requisições</a>
      </button>
      <button mat-menu-item>
        <a mat-list-item routerLink="/operadoras">Operadoras</a>
      </button>
      <button mat-menu-item>
        <a mat-list-item routerLink="/empresas">Empresas</a>
      </button>
      <button mat-menu-item>
        <a mat-list-item routerLink="/localdeatendimento/read">
          Local de Atendimento
        </a>
      </button>
      <button mat-menu-item>
        <a mat-list-item routerLink="/responsavel_tecnicos">Resp. Técnico</a>
      </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="consultar">
      <mat-icon>pageview</mat-icon>
      Consultar
    </button>
    <mat-menu #consultar="matMenu">
      <button mat-menu-item>
        <a mat-list-item routerLink="/consulta_amostra_show">
          Clta. Amostra
        </a>
      </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="perfil">
      <mat-icon>account_circle</mat-icon>
      Perfil
    </button>
    <mat-menu #perfil="matMenu">
      <button mat-menu-item>
        <a mat-list-item routerLink="/">
          Perfil do Usuario
        </a>
      </button>
      <button mat-menu-item (click)="logout()">
        <a mat-list-item>
          Sair
        </a>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

