<h1>Lançamentos</h1>
<div class="mat-elevation-z4">
  <table class="table table-striped table-bordered"
   mat-table [dataSource]="dataSource"
    matSort matSortActive="indeterminate_check_box"
     matSortDirection="asc" matSortDisableClear>
    <ng-container matColumnDef="id">
      <th mat-header-cell
       *matHeaderCellDef mat-sort-header="id">
       Id
      </th>
      <td mat-cell class="text-center"
       *matCellDef="let row">
       {{ row?.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="data_vencimento">
      <th mat-header-cell
       *matHeaderCellDef
        mat-sort-header="data_vencimento">Data de Vencimento</th>
      <td mat-cell class="text-center"
       *matCellDef="let row">{{ row?.data_vencimento }}</td>
    </ng-container>

    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="valor">
        Valor
      </th>
      <td mat-cell class="text-center" *matCellDef="let row">
        {{ row?.valor }}
      </td>
    </ng-container>

    <ng-container matColumnDef="conta_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="conta_id">
        Conta
      </th>
      <td mat-cell class="text-center" *matCellDef="let row">
        {{ row?.conta_id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="tipo">
        Tipo
      </th>
      <td mat-cell class="text-center" *matCellDef="let row">
        {{ row?.tipo }}
      </td>
    </ng-container>

    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="descricao">
        Descricao
      </th>
      <td mat-cell class="text-center" *matCellDef="let row">
        {{ row?.descricao }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="status">
        Status
      </th>
      <td mat-cell class="text-center" *matCellDef="let row">
        {{ row?.status }}
      </td>
    </ng-container>

    <ng-container matColumnDef="numero_documento">
      <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header="numero_documento">Numero Documento</th>
      <td mat-cell class="text-center"
       *matCellDef="let row">{{ row?.numero_documento }}</td>
    </ng-container>

    <ng-container matColumnDef="quantidade_parcelas">
      <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header="quantidade_parcelas">
        Quantidade de Parcelas
      </th>
      <td mat-cell class="text-center"
        *matCellDef="let row">
        {{ row?.quantidade_parcelas }}
      </td>
    </ng-container>

    <ng-container matColumnDef="data_emissao">
      <th mat-header-cell *matHeaderCellDef
        mat-sort-header="data_emissao">
        Data de Emissão
      </th>
      <td mat-cell class="text-center"
        *matCellDef="let row">
        {{ row?.data_emissao }}
      </td>
    </ng-container>

    <ng-container matColumnDef="natureza">
      <th mat-header-cell *matHeaderCellDef
        mat-sort-header="natureza">
        Natureza
      </th>
      <td mat-cell class="text-center"
       *matCellDef="let row">
        {{ row?.natureza }}
      </td>
    </ng-container>

      <ng-container matColumnDef="unidade_atendimento_id">
        <th mat-header-cell *matHeaderCellDef
          mat-sort-header="unidade_atendimento_id">
          Unidade Atendimento
        </th>
        <td mat-cell class="text-center" *matCellDef="let row">
          {{ row?.unidade_atendimento_id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="conta_contabil_id">
        <th mat-header-cell *matHeaderCellDef
         mat-sort-header="conta_contabil_id">
         Conta Contábil
        </th>
        <td mat-cell class="text-center" *matCellDef="let row">
          {{ row?.conta_contabil_id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="pessoa_id">
        <th mat-header-cell *matHeaderCellDef
          mat-sort-header="pessoa_id">
          Pessoa
        </th>
        <td mat-cell class="text-center" *matCellDef="let row">
          <span *ngIf="!row?.pessoa?.nome">{{ row?.pessoa_id }}</span>
          <span>{{ row?.pessoa?.nome }}</span>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
