form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

button {
  margin: 20px 15px 0px 0px;
}

.form-field {
  margin-right: 0px;
}

table {
  width: 100%;
}

.edit {
  margin-right: 10px;
}

.edit > i {
  color: #41d926;
}

.delete > i {
  color: #e35e6b;
}

