<mat-card>
  <mat-card-title>Excluir Domínio</mat-card-title>
  <form>
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Nome"
        [(ngModel)]="laboratoryDomain.name"
        name="name"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        [matDatepicker]="sync_start_date"
        placeholder="Início da sincronização"
        [(ngModel)]="laboratoryDomain.syncStartDate" name="syncStartDate" 
        required
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="sync_start_date"
      ></mat-datepicker-toggle>
      <mat-datepicker #sync_start_date></mat-datepicker>
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="deleteLaboratoryDomain()" color="warn">
    Excluir
  </button>
  <button mat-raised-button (click)="cancel()" color="accent">Cancelar</button>
</mat-card>
