table {
  width: 100%;
}

.edit {
  margin-right: 10px;
}

.edit > i {
  color: #41d926;
}

.delete > i {
  color: #e35e6b;
}

.spinner-container {
  position: absolute;
  left: 46%;
  top: 45%;
}

.spinner-container mat-spinner {
  margin: 0 auto;
  width: 50%;
}
