<div class="row">
  <div class="col-sm-1 m-1">
    <button mat-mini-fab color="primary" (click)="openDialogCreate()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-label class="ms-1 fs-6"></mat-label>
  </div>

  <div class="col-sm-1 m-1">
    <button mat-mini-fab color="primary" data-bs-toggle="collapse" data-bs-target="#collapseExample"
      aria-expanded="false" aria-controls="collapseExample">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>

<div class="collapse" id="collapseExample">
<div class="card card-body">

  <div class="row">
    <div class="mb-3 col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Nome:</mat-label>
        <input matInput #nome maxlength="50" placeholder="Filtre por nome" (input)="search('nome',nome.value)">
      </mat-form-field>
    </div>

    <div class="mb-3 col-md-3">
      <mat-form-field appearance="fill">
        <mat-label>Login:</mat-label>
        <input matInput #login maxlength="12" placeholder="Filtre por login" (input)="search('login',login.value)">
      </mat-form-field>
    </div>

  </div>
</div>
</div>


<table mat-table
         [dataSource]="dataSource"
         class="mat-elevation-z8"
         matSort (matSortChange)="sortData()">

    <ng-container matColumnDef="nome">
      <th mat-header-cell mat-sort-header="nome" *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element?.nome | slice:0:4}} ...</td>
    </ng-container>

    <ng-container matColumnDef="login">
      <th mat-header-cell mat-sort-header="login" *matHeaderCellDef> Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element?.login | slice:0:4}} ...</td>
    </ng-container>

    <ng-container matColumnDef="Cargo">
      <th mat-header-cell mat-sort-header="Cargo" *matHeaderCellDef> Cargo </th>
      <td mat-cell *matCellDef="let element"> {{element?.cargo_id}} ...</td>
    </ng-container>

    <ng-container matColumnDef="Grupos">
      <th mat-header-cell *matHeaderCellDef> Grupos </th>
      <td mat-cell *matCellDef="let element"> {{element?.grupos}} ...</td>
    </ng-container>

    <ng-container matColumnDef="Operacoes">
      <th mat-header-cell colspan="3" mat-sort-header="" *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <div class="row">

          <div class="col-1 me-3">
              <button mat-icon-button (click)="openDialogUpdate()">
                <mat-icon color="black">edit</mat-icon>
              </button>
          </div>

          <div class="col-1 me-3">
              <button mat-icon-button>
                <mat-icon color="warn">delete</mat-icon>
              </button>
          </div>

          <div class="col-1 me-3">
            <button mat-icon-button>
              <mat-icon color="primary">vpn_key</mat-icon>
            </button>
        </div>

          <ng-template #deleteDialog>
            <mat-dialog-content class="mat-typography">
              Deseja apagar esse registro?
            </mat-dialog-content>
            <mat-dialog-actions align="end">
              <button mat-button mat-dialog-close>Cancel</button>
              <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Apagar</button>
            </mat-dialog-actions>
          </ng-template>

        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>
  <mat-paginator [length]="this.totalCount" [pageSize]="10"
  [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
