<mat-card>
  <mat-card-title>Excluir Operadora</mat-card-title>
  <form *ngIf="operadora">
    <mat-form-field appearance="fill">
      <input
        matInput
        title="Laboratório Id"
        [(ngModel)]="operadora.laboratorio_id"
        name="laboratorio_id"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        title="Original Id"
        [(ngModel)]="operadora.original_id"
        name="original_id"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        title="Versão Id"
        [(ngModel)]="operadora.version_id"
        name="version_id"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        title="Apagado"
        [(ngModel)]="operadora.deleted"
        name="deleted"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        title="Alterador Id"
        [(ngModel)]="operadora.changed_by_lab_id"
        name="changed_by_lab_id"
      />
    </mat-form-field>
  </form>
  <mat-card-title>Excluir Empresa</mat-card-title>
  <form  *ngIf="empresa">
    <mat-form-field appearance="fill">
      <input
        matInput
        title="Razão Social"
        [(ngModel)]="empresa.razao_social"
        name="razao_social"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        title="Nome Fantasia "
        [(ngModel)]="empresa.nome_fantasia"
        name="nome_fantasia"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        title="CNPJ"
        [(ngModel)]="empresa.cnpj"
        name="cnpj"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        title="Isc. Estatual"
        [(ngModel)]="empresa.inscricao_estadual"
        name="inscricao_estadual"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        title="Endereço"
        [(ngModel)]="empresa.endereco"
        name="endereco"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        title="Bairro"
        [(ngModel)]="empresa.bairro"
        name="Bairro"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        title="CEP"
        [(ngModel)]="empresa.cep"
        name="cep"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        title="Cidade"
        [(ngModel)]="empresa.cidade"
        name="cidade"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        title="UF"
        [(ngModel)]="empresa.uf"
        name="uf"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        title="Telefone"
        [(ngModel)]="empresa.telefone"
        name="telefone"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        title="Fax"
        [(ngModel)]="empresa.fax"
        name="fax"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        title="Contato"
        [(ngModel)]="empresa.nome_contato"
        name="nome_contato"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        title="Email"
        [(ngModel)]="empresa.email"
        name="email"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        title="Cod Município"
        [(ngModel)]="empresa.cod_ibge_municipio"
        name="cod_ibge_municipio"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        title="Número"
        [(ngModel)]="empresa.numero"
        name="numero"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        title="Alvara"
        [(ngModel)]="empresa.alvara"
        name="alvara"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        title="Alvara UF"
        [(ngModel)]="empresa.alvara_uf"
        name="alvara_uf"
      />
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="deleteOperadora()" color="warn">
    Excluir
  </button>
  <button mat-raised-button (click)="cancel()" color="accent">
    Cancelar
  </button>
</mat-card>

