<mat-card>
  <mat-card-title>Nova Empresa</mat-card-title>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Empresa Id</mat-label>
      <mat-select
        [(ngModel)]="operadora.empresa_id"
        name="laboratory_domain_id"
      >
        <mat-option
          *ngFor="let empresa of empresas"
          [value]="empresa.id"
        >
          {{ empresa.razao_social }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Laboratório Id"
        [(ngModel)]="operadora.laboratorio_id"
        name="laboratorio_id"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Original Id"
        [(ngModel)]="operadora.original_id"
        name="original_id"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Versão Id"
        [(ngModel)]="operadora.version_id"
        name="version_id"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Apagado"
        [(ngModel)]="operadora.deleted"
        name="deleted"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Alterador Id"
        [(ngModel)]="operadora.changed_by_lab_id"
        name="changed_by_lab_id"
      />
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="createOperadora()" color="primary">
    Salvar
  </button>
  <button mat-raised-button (click)="cancel()" color="warn">Cancelar</button>
</mat-card>

