<mat-card>
  <mat-card-title>Novo Responsável Técnico</mat-card-title>
  <form #formCreateResponsavelTecnico="ngForm">
    <mat-form-field appearance="fill">
      <input
        type="text"
        id="titulo"
        required
        minlength="4"
        matInput
        placeholder="Título"
        [(ngModel)]="responsavelTecnico.titulo"
        #titulo="ngModel"
        name="titulo"
      />
      <div
        *ngIf="
          titulo.invalid && (titulo.dirty || titulo.touched)
        "
        class="alert"
      >
        <div *ngIf="titulo.errors?.['required']">
          O campo é obrigatório!
        </div>
        <div *ngIf="titulo.errors?.['minlength']">
          O registro dever conter no mínimo 4 caracteres!
        </div>
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        type="text"
        id="registro_profissional"
        required
        minlength="4"
        matInput
        placeholder="Registro Profissional"
        [(ngModel)]="responsavelTecnico.registro_profissional"
        #registro_profissional="ngModel"
        name="registro_profissional"
      />
      <div
        *ngIf="
          registro_profissional.invalid &&
          (registro_profissional.dirty || registro_profissional.touched)
        "
        class="alert"
      >
        <div *ngIf="registro_profissional.errors?.['required']">
          O campo é obrigatório!
        </div>
        <div *ngIf="registro_profissional.errors?.['minlength']">
          O registro dever conter no mínimo 4 caracteres!
        </div>
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        type="text"
        id="conselho"
        required
        minlength="3"
        matInput
        placeholder="Conselho"
        [(ngModel)]="responsavelTecnico.conselho"
        #conselho="ngModel"
        name="conselho"
      />
      <div
        *ngIf="
          conselho.invalid &&
          (conselho.dirty || conselho.touched)
        "
        class="alert"
      >
        <div *ngIf="conselho.errors?.['required']">
          O campo é obrigatório!
        </div>
        <div *ngIf="conselho.errors?.['minlength']">
          O campo dever conter no mínimo 3 caracteres!
        </div>
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        type="text"
        id="uf_conselho"
        required
        minlength="2"
        maxlength="2"
        matInput
        placeholder="UF"
        [(ngModel)]="responsavelTecnico.uf_conselho"
        #uf_conselho="ngModel"
        name="uf_conselho"
      />
      <div
        *ngIf="
          uf_conselho.invalid &&
          (uf_conselho.dirty || uf_conselho.touched)
        "
        class="alert"
      >
        <div *ngIf="uf_conselho.errors?.['required']">
          O campo é obrigatório!
        </div>
        <div *ngIf="uf_conselho.errors?.['minlength']">
          O campo dever conter no mínimo 2 caracteres!
        </div>
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        type="text"
        id="cbos"
        required
        minlength="3"
        maxlength="10"
        matInput
        placeholder="CBOS"
        [(ngModel)]="responsavelTecnico.cbos"
        #cbos="ngModel"
        name="cbos"
      />
      <div
        *ngIf="
          cbos.invalid &&
          (cbos.dirty || cbos.touched)
        "
        class="alert"
      >
        <div *ngIf="cbos.errors?.['required']">
          O campo é obrigatório!
        </div>
        <div *ngIf="cbos.errors?.['minlength']">
          O campo dever conter no mínimo 3 caracteres!
        </div>
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        type="text"
        mask="000.000.000-00"
        pattern="\d*"
        id="cpf"
        required
        minlength="11"
        matInput
        placeholder="CPF"
        [(ngModel)]="responsavelTecnico.cpf"
        #cpf="ngModel"
        name="cpf"
      />
      <div *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)" class="alert">
        <div *ngIf="cpf.errors?.['required']">O campo é obrigatório!</div>
        <div *ngIf="cpf.errors?.['minlength']">
          O cpf dever conter 11 caracteres!
        </div>
      </div>
    </mat-form-field>
  </form>
  <div>
    <button mat-raised-button [disabled]="formCreateResponsavelTecnico.invalid" (click)="createResponsavelTecnico()" color="primary">
      Salvar
    </button>
    <button mat-raised-button (click)="cancel()" color="warn">Cancelar</button>
  </div>
</mat-card>
