<mat-card>
  <mat-divider inset></mat-divider>
    <h3 class="mt-4">DADOS RESPONSÁVEL TÉCNICO:</h3>
  <mat-divider inset></mat-divider>
  <div class="p-2 row col-12">
    <div class="col-1">
      Id: {{responsavelTecnico.id}}
    </div>
    <div class="col-3">
      Título: {{responsavelTecnico.titulo}}
    </div>
    <div class="col-3">
      Conselho: {{responsavelTecnico.conselho}}
    </div>
    <div class="col-2">
      Conselho UF: {{responsavelTecnico.uf_conselho}}
    </div>
    <div class="col-3">
      <!-- TODO: Refazer mascaras -->
      <!-- | mask:'000.000.000-00' -->
      CPF: {{ (responsavelTecnico.cpf || '') }}
    </div>
    <div class="col-3">
      Cadastrada em: {{responsavelTecnico.criado_em | date: "dd/MM/yyyy"}}
    </div>
  </div>
  <div class="p-1 col d-flex justify-content-ini">
    <button (click)="loadSignature(id)"
     mat-flat-button color="primary" class="dvm-button"
      data-bs-toggle="collapse" data-bs-target="#collapseSigature"
      aria-expanded="false" aria-controls="collapseSigature">
      <mat-icon>search</mat-icon>
      Visualizar Assinatura
    </button>
  </div>
  <div class="collapse" id="collapseSigature">
    <div class="card card-body">
      <div class="row">
        <div class="mb-3 col row">
          <div appearance="fill">
            <img *ngIf="this.showSignature.imagem"
              title="Assinatura"
              [src]="this.showSignature.imagem | safeurl"/>
            <p *ngIf="!this.showSignature.imagem">
              Imagem não localizada
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
<button mat-raised-button (click)="cancel()" color="accent">
  Voltar
</button>
