table {
  width: 100%;
}

.edit {
  margin-right: 10px;
}

.delete {
  margin-right: 10px;
}

.show {
  margin-right: 10px;
}

.edit {
  color: #41d926;
}

.delete {
  color: #e35e6b;
}

.show {
  color: #3d22d4;
}

.spinner-container {
  position: absolute;
  left: 46%;
  top: 45%;
}

.spinner-container mat-spinner {
  margin: 0 auto;
  width: 50%;
}

.search-field{
  margin: 0px 5px 5px 10px;
}
