<mat-form-field class="search-field">
  <mat-input-container>
    <input matInput type="text" placeholder="Buscar Amostra" (keyup.enter)="search('amostra_id', inputAmostraId.value)" #inputAmostraId />
  </mat-input-container>
</mat-form-field>
<div class="mat-elevation-z4">
  <table
    mat-table
    matSort
    matSortActive="nome"
    matSortDirection="asc"
    matSortDisableClear
  >
    <!-- Id Column -->
    <ng-container matColumnDef="amostra_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="amostra_id">Amostra Id</th>
      <td mat-cell *matCellDef="let row">{{ row?.id }}</td>
    </ng-container>

    <!-- criado_em Column -->
    <ng-container matColumnDef="criado_em">
      <th mat-header-cell *matHeaderCellDef>Criado em</th>
      <td mat-cell *matCellDef="let row">
        {{ row?.criado_em | date: "dd-MM-yyyy" }}
      </td>
    </ng-container>

    <!-- action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let row">
        <a routerLink="/laboratorios/update/{{ row.id }}" class="edit">
          <i class="material-icons"> edit </i>
        </a>
        <a routerLink="/laboratorios/delete/{{ row.id }}" class="delete">
          <i class="material-icons"> delete </i>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
