<mat-form-field class="search-field">
  <mat-label>Buscar Amostra</mat-label>
  <input
    matInput
    type="text"
    autocomplete="off"
    (keyup.enter)="search('id', inputId.value)"
    #inputId
  />
  <button
    *ngIf="clear"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="inputId.value = ''"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<div class="mat-elevation-z4">
  <table class="mat-table" id="pacienteAmostra">
    <thead>
      <tr class="mat-header-row">
        <th class="mat-header-cell">Paciente</th>
        <th class="mat-header-cell">Protocolo</th>
        <th class="mat-header-cell">Material</th>
        <th class="mat-header-cell">Coletador</th>
        <th class="mat-header-cell">Data coleta</th>
      </tr>
    </thead>
    <tbody>
      <tr class="mat-row">
        <td class="mat-cell">{{ pacienteAmostra?.nome }}</td>
        <td class="mat-cell">{{ pacienteExame?.num_protocolo }}</td>
        <td class="mat-cell">{{ materialBiologico?.nome }}</td>
        <td class="mat-cell">{{ coletor?.nome }}</td>
        <td class="mat-cell">{{ amostra?.created_at | date: "dd-MM-yyyy" }}</td>
      </tr>
    </tbody>
  </table>

  <div class="mat-elevation-z4">
    <table class="table table-striped">
      <thead>
        <tr class="mat-header-row">
          <th class="mat-header-cell">Mnemônico</th>
          <th class="mat-header-cell">Tipo exame</th>
          <th class="mat-header-cell">Versão exame</th>
          <th class="mat-header-cell">Urgente</th>
          <th class="mat-header-cell">Status</th>
          <th class="mat-header-cell">Data entrega</th>
          <th class="mat-header-cell">Data resultado</th>
          <th class="mat-header-cell">Data liberação</th>
          <th class="mat-header-cell">Data aprovação</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="mat-row"
          *ngFor="let exameAmostra of this.exameAmostras as ExameAmostra"
        >
        <td class="mat-cell">{{ exameAmostra.exame?.cod_exame}}</td>
          <td class="mat-cell">{{ exameAmostra.exame?.versao_exame?.titulo_laudo }}</td>
          <td class="mat-cell">{{ exameAmostra.exame?.versao_exame?.descricao }}</td>
          <td class="mat-cell">{{ exameAmostra.exame?.urgente }}</td>
          <td class="mat-cell">{{ exameAmostra?.exame?.status }}</td>
          <td class="mat-cell">{{ exameAmostra.exame?.data_entrega | date: "dd/MM/yyyy" }}</td>
          <td class="mat-cell">{{ exameAmostra.exame?.data_hora_resultado | date: "dd/MM/yyyy" }}</td>
          <td class="mat-cell">{{ exameAmostra.exame?.data_hora_resultado | date: "dd/MM/yyyy" }}</td>
          <td class="mat-cell">{{ exameAmostra.exame?.data_hora_aprovacao | date: "dd/MM/yyyy" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
</div>
