table {
  width: 100%;
}

.spinner-container {
  position: absolute;
  left: 46%;
  top: 45%;
}

.spinner-container mat-spinner {
  margin: 0 auto;
  width: 50%;
}

.search-field{
  margin: 0px 5px 5px 10px;
}
