<form class="example-container row container-fluid mt-4">
  <div class="row justify-content-around">
    <div class="row col-lg-2 p-2">
      <mat-form-field appearance="fill">
        <mat-label for="cep">CEP:</mat-label>
        <input matInput maxlength="9" mask="00000-000"
          id="cep" name="cep" title="CEP"
          [(ngModel)]="this.empresa.cep"
          (ngModelChange)="consulta()">
      </mat-form-field>
    </div>

    <div class="row col-lg-3 p-2">
      <mat-form-field appearance="fill">
        <mat-label>Cidade:</mat-label>
        <input matInput maxlength="50"
          id="cidade" name="cidade" title="Cidade"
          [(ngModel)]="this.empresa.cidade">
      </mat-form-field>
    </div>

    <div class="row col-lg-1 p-2">
      <mat-form-field appearance="fill">
        <mat-label>UF:</mat-label>
        <input matInput maxlength="50"
          id="enderecoUf" name="uf" title="UF"
          [(ngModel)]="this.empresa.uf">
      </mat-form-field>
    </div>

    <div class="row col-lg-3 p-2">
      <mat-form-field appearance="fill">
        <mat-label>Logradouro:</mat-label>
        <input matInput maxlength="50"
          id="endereco" name="endereco" title="Endereço"
          [(ngModel)]="this.empresa.endereco">
      </mat-form-field>
    </div>

    <div class="row col-lg-1 p-2">
      <mat-form-field appearance="fill">
        <mat-label>N°:</mat-label>
        <input matInput maxlength="50"
          id="numero" name="numero" title="Número"
          [(ngModel)]="this.empresa.numero">
      </mat-form-field>
    </div>

    <div class="row col-lg-3 p-2">
      <mat-form-field appearance="fill">
        <mat-label>Bairro:</mat-label>
        <input matInput maxlength="50"
          id="enderecoBairro" name="bairro" title="Bairro"
          [(ngModel)]="this.empresa.bairro"/>
      </mat-form-field>
    </div>
  </div>
</form>
