<mat-card>
  <mat-card-title>Excluir Laboratório</mat-card-title>
  <form>
    <mat-form-field appearance="fill">
      <input
        matInput
        title="Nome"
        [(ngModel)]="laboratorio.nome"
        name="name"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        title="2000"
        [(ngModel)]="laboratorio.serie"
        name="serie"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        [matDatepicker]="criado_em"
        title="Criado em"
        [(ngModel)]="laboratorio.criado_em" name="criado em" 
        required
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="criado_em"
      ></mat-datepicker-toggle>
      <mat-datepicker #criado_em></mat-datepicker>
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="deleteLaboratorio()" color="warn">
    Excluir
  </button>
  <button mat-raised-button (click)="cancel()" color="accent">Cancelar</button>
</mat-card>
