<mat-card class="col-xs-12 col-sm-9 col-md-6 col-lg-4 col-lg-card card mx-auto">
  <div class="example-container row">
    <img src="../../../assets/lisweb.png" class="img mx-auto">
    <h3 class="text-center">Faça seu login abaixo</h3>
    <mat-form-field appearance="fill" class="col-12">
      <mat-label>Usuario ou Email</mat-label>
      <input matInput placeholder="laboratorio@dominio.com" required [(ngModel)]="login">
    </mat-form-field>
    <button mat-button color="primary" class="col-6">Não lembra de seu usuario e e-mail?</button>
    </div>
    <div class="mt-5 mb-5">
      <h4 class="ms-3">Ainda não possui o seu acesso? Se deseja utilizar esse recurso fale com nosso atendente
      <a href="" class="text-primary">clicando aqui.</a></h4>
    </div>
    <div class="row justify-content-between">
      <button mat-button color="primary" class="col-3">Retornar ao site</button>
      <button mat-raised-button color="primary" class="col-3" (click)="salveLogin()">Avançar
      </button>
    </div>
    <div *ngIf="this.loginIncorreto">
      <mat-card class="mt-2 card-error text-danger">
      {{this.mensagemErro}}
      </mat-card>
    </div>
  </mat-card>
  <mat-spinner mode="determinate"></mat-spinner>
