<form [formGroup]="userForm" class="example-container row container-fluid" fxShow.gt-xs>

  <mat-form-field appearance="fill" class="col-lg-12 col-md-12 p-2">
    <mat-label>Nome:</mat-label>
    <input matInput maxlength="50"
                    title="Nome completo"
                    name="nome" [(ngModel)]="usuario.nome"
                    formControlName="nome">
  </mat-form-field>
  <div *ngIf="submitted && userForm.controls" class="invalid-feedback">
    <div *ngIf="userForm.controls.nome.errors?.required">Fullname is required</div>
  </div>
  <mat-form-field appearance="fill" class="col-lg-12 col-md-12 p-2">
    <mat-label>Usuario:</mat-label>
    <input matInput maxlength="50"
                    title="Nome de usuario"
                    name="login" [(ngModel)]="usuario.login"
                    formControlName="login">
  </mat-form-field>

  <mat-form-field appearance="fill" class="col-lg-12 col-md-12 p-2">
    <mat-label>Cargo:</mat-label>
    <input matInput maxlength="50"
                    title="Cargo de usuario">
  </mat-form-field>

  <mat-form-field appearance="fill" class="col-lg-12 col-md-12 p-2">
    <mat-label>Senha:</mat-label>
    <input matInput maxlength="50" title="Crie uma senha"
           [type]="hide ? 'password' : 'text'"
           name="senha"
           [(ngModel)]="usuario.senha"
           formControlName="senha">
    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="fill" class="col-lg-12 col-md-12 p-2">
    <mat-label>Confirmaçao:</mat-label>
    <input matInput maxlength="50"
           title="Confirme a senha"
           [type]="hide ? 'password' : 'text'"
           name="confirmaSenha"
           [(ngModel)]="usuario.confirmaSenha"
           formControlName="confirmaSenha">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>Grupos</mat-label>
  <mat-chip-list #chipList aria-label="grupo selection">
    <mat-chip
      *ngFor="let grupo of grupos"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(grupo)">
      {{grupo}}
      <button matChipRemove *ngIf="removable">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <!-- TODO: unificar tela de cadastro e edicao -->
    <input
      title="Digite o grupo de usuario"
      #grupoInput
      [formControl]="grupoCtrl"
      [matAutocomplete]="auto"
      name="grupos"
      [(ngModel)]="usuario.grupos"
      formControlName="grupos"
      >
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let grupo of filteredGrupos | async" [value]="grupo">
      {{grupo}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<div *ngIf="userForm.controls.confirmaSenha.errors?.matching" >
  <!-- <mat-icon color="warn" class="col-4 row">info</mat-icon> -->
  <mat-card class="text-danger align-middle">
    Senha e confirmação não coferem</mat-card>
</div>

</form>
<div class="p-2">
  <button mat-flat-button color="primary" class="fixed-bottom index"
  mat-dialog-close [disabled]="userForm.invalid" (click)="createUsuario()">Salvar</button>
  <button mat-flat-button color="warn" class="fixed-bottom index ms-2"
  mat-dialog-close >Cancelar</button>
</div>
