<div class="row justify-content-around">
  <div>
    Cadastrar versão de exame
  </div>

  <mat-form-field appearance="fill" class="col-lg-5 col-md-11 ps-lg-3 p-md-2">
    <mat-label>Tipo exame:</mat-label>
    <input disabled matInput name="tipo_exame" [(ngModel)]="versaoExame.tipoExame!.descricao">
  </mat-form-field>

  <app-autocomplete-versao-exame [tipoExame]="versaoExame.tipoExame" [onCreate]="this.onCreate"></app-autocomplete-versao-exame>

  <mat-form-field appearance="fill" class="col-lg-5 col-md-12 pe-lg-5 p-md-2">
    <mat-label>Descrição:</mat-label>
    <input matInput maxlength="50" name="descricao" [(ngModel)]="versaoExame.descricao">
  </mat-form-field>
</div>

<mat-tab-group>
  <mat-tab label="Geral">
    <app-versao-exame-geral-create [versaoExame]="this.versaoExame"></app-versao-exame-geral-create>
  </mat-tab>
  <mat-tab label="Interfaceamento">
    <app-versao-exame-interfaceamento-create [versaoExame]="this.versaoExame"></app-versao-exame-interfaceamento-create>
  </mat-tab>
</mat-tab-group>

<div>
  <button mat-flat-button color="primary" class="fixed-bottom index"
    (click)="createVersaoExame()">Salvar</button>
  <button mat-flat-button color="warn" class="fixed-bottom index ms-2"
    (click)="cancel()">Cancelar</button>
</div>
