<div class="p-3 col-12 row">

  <div class="row col-10 col-md-8 col-xs-6">
      <h3>
        <a routerLink="/">Inicio</a>
        <a> > </a>
        <a routerLink="/localdeatendimento/read">Locais de atendimentos</a>
      </h3>
  </div>

  <div class="col-2 col-md-4 col-xs-6">
    <div class="row">

      <div class="p-1 col d-flex justify-content-end">
        <button mat-flat-button class="dvm-button" color="primary" routerLink="/localdeatendimento/create">
            <mat-icon>add</mat-icon>
          Adicionar
        </button>
        <mat-label class="ms-1 fs-6"></mat-label>
      </div>

      <div class="p-1 col d-flex justify-content-end">
        <button mat-flat-button color="primary" class="dvm-button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
          aria-expanded="false" aria-controls="collapseExample">
          <mat-icon>search</mat-icon>
          Buscar
        </button>
      </div>

    </div>
  </div>
</div>

  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <div class="row">
        <div class="mb-3 col row">
          <mat-form-field appearance="fill">
            <mat-label>Nome:</mat-label>
            <input matInput #nome maxlength="50" class="form-control" title="Filtre por nome" (input)="search('nome',nome.value)">
          </mat-form-field>
        </div>

        <div class="mb-3 col-md-3 row">
          <mat-form-field appearance="fill">
            <mat-label>CNES:</mat-label>
            <input matInput #cnes maxlength="12" class="form-control" title="Filtre por CNES" (input)="search('cnes',cnes.value,true)"
            >
          </mat-form-field>
        </div>

        <div class="mb-3 col-md-3 row">
          <mat-form-field appearance="fill">
            <mat-label>Chave Publicação:</mat-label>
            <input matInput #chave_internet maxlength="14" class="form-control" title="Filtre por CPF" (input)="search('chave_internet',chave_internet.value,true)"
            >
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

<div class="mat-elevation-z4">
  <table mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  matSort (matSortChange)="sortData()">

  <ng-container matColumnDef="Nome">
    <th mat-header-cell mat-sort-header="nome" class="col-6" *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.nome | slice:0:12}} ...</td>
  </ng-container>

  <ng-container matColumnDef="CNES">
    <th mat-header-cell mat-sort-header="cnes" class="col-1" *matHeaderCellDef> CNES </th>
    <td mat-cell *matCellDef="let element"> {{element.cnes | slice:0:7}} ...</td>
  </ng-container>

  <ng-container matColumnDef="chave_internet">
    <th mat-header-cell mat-sort-header="chave_internet" class="col-2" *matHeaderCellDef> Chave de Publicação </th>
    <td mat-cell *matCellDef="let element"> {{element.chave_internet | slice:0:5}} ...</td>
  </ng-container>

  <ng-container matColumnDef="Opercaoes">
    <th mat-header-cell colspan="3" mat-sort-header="" class="col-3" *matHeaderCellDef> Operações </th>
    <td mat-cell *matCellDef="let element">
      <div class="row">

        <div class="col-1 me-3">
          <a routerLink="/localdeatendimento/update/{{element.id}}">
            <button mat-icon-button>
              <mat-icon class="edit">edit</mat-icon>
            </button>
          </a>
        </div>

        <div class="col-1 me-3">
            <button mat-icon-button (click)="delete(element.id)">
              <mat-icon class="delete">delete</mat-icon>
            </button>
        </div>

        <ng-template #deleteDialog>
          <mat-dialog-content class="mat-typography">
            Deseja apagar esse registro?
          </mat-dialog-content>
          <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Apagar</button>
          </mat-dialog-actions>
        </ng-template>


      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [length]="this.totalCount" [pageSize]="10"
      [pageSizeOptions]="[10, 20, 60, 240, 1200]"></mat-paginator>
</div>
