<div class="d-flex justify-content-between col-sm-12 p-2">
  <button mat-flat-button color="primary" class="col-sm-1 col-lg-1 float-start" data-bs-toggle="collapse" data-bs-target="#collapseExample"
    aria-expanded="false" aria-controls="collapseExample">
    <mat-icon>search</mat-icon>
    Buscar
  </button>
  <button mat-flat-button class="btn-success col-sm-1 float-end" color="primary" title="Adicionar parâmetro"
  (click)="new();" *ngIf="!onCreate && !onEdit">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="mat-elevation-z4">
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <div class="row">
        <div class="mb-3 col-md-3 row">
          <mat-form-field appearance="fill">
            <mat-label>Nome:</mat-label>
            <input matInput #nome maxlength="50" placeholder="Filtre por nome" (input)="search('nome', nome.value)"
            >
          </mat-form-field>
        </div>

        <div class="mb-3 col-md-3 row">
          <mat-form-field appearance="fill">
            <mat-label>Nome Filtro:</mat-label>
            <input matInput #filter_def_name maxlength="12" placeholder="Filtre por Nome Filtro" (input)="search('filter_def_name', filter_def_name.value)"
            >
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div *ngIf="onCreate || onEdit">
      <form #formCreateRecurso="ngForm">
        <mat-form-field appearance="fill" class="col-lg-5 col-md-12 p-2">
          <mat-label>Domínio</mat-label>
          <input
            name="dominio"
            matInput [matAutocomplete]="auto" 
            [(ngModel)]="recurso.dominio_id"
            (ngModelChange)="searchDominio()"
          />
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnDominio(dominios)">
            <mat-option *ngFor="let dominio of dominios" [value]="dominio.id">
              {{dominio.descricao}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- mat-form-field appearance="fill" class="col-lg-5 col-md-12 p-2">
          <mat-label>Domínio:</mat-label>
          <input
            type="text"
            id="dominio_id"
            required
            matInput
            maxlength="50"
            name="dominio_id"
            [(ngModel)]="currentRecord.dominio_id"
            #dominio_id2="ngModel"
            #dominio_id
            autofocus
          >
          <mat-error *ngIf="dominio_id2.invalid && (dominio_id2.dirty || dominio_id2.touched)">
            <span *ngIf="dominio_id2.errors?.['required']">
                O campo é obrigatório!
            </span>
          </mat-error>
        </mat-form-field-->

        <mat-form-field appearance="fill" class="col-lg-5 col-md-12 p-2">
          <mat-label>Num. Ordem:</mat-label>
          <input
            type="text"
            id="num_ordem"
            required
            matInput
            maxlength="50"
            name="num_ordem"
            [(ngModel)]="currentRecord.num_ordem"
            #num_ordem="ngModel"
          >
          <mat-error *ngIf="num_ordem.invalid && (num_ordem.dirty || num_ordem.touched)">
            <span *ngIf="num_ordem.errors?.['required']">
                O campo é obrigatório!
            </span>
          </mat-error>
        </mat-form-field>
        <div style=" position: relative; float: right; position: relative; padding-right: 30px; padding-top: 20px;">
          <button mat-button
          (click)="addGridData()" *ngIf="onCreate" [disabled]="formCreateRecurso.invalid">Inserir</button>
          <button mat-button
          (click)="updateGridData()" *ngIf="onEdit">Alterar</button>
          <button mat-button color="warn"
          (click)="cancelar()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="mat-elevation-z4">
<table
  mat-table
  [dataSource]="datasource"
  matSort
  matSortActive="id"
  matSortDirection="desc"
  matSortDisableClear
>

  <!-- Nome Column -->
  <ng-container matColumnDef="nome" class="col-2">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="nome">Nome</th>
    <td mat-cell *matCellDef="let row">{{ row?.nome }}</td>
  </ng-container>

    <!-- Tipo Column -->
    <ng-container matColumnDef="tipo_recurso_id" class="col-2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="tipo_recurso_id">Tipo Recurso</th>
      <td mat-cell *matCellDef="let row">{{ row?.tipo_recurso?.descricao }}</td>
    </ng-container>

  <!-- Domínio Column -->
  <ng-container matColumnDef="dominio_id" class="col-2">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="dominio_id:">Domínio</th>
    <td mat-cell *matCellDef="let row">{{ row?.dominio?.descricao }}</td>
  </ng-container>

    <!-- Laboratório Column -->
    <ng-container matColumnDef="laboratorio_id" class="col-2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="laboratorio_id">Laboratório</th>
      <td mat-cell *matCellDef="let row">{{ row?.laboratorio?.nome }}</td>
    </ng-container>

  <!-- action Column -->
  <ng-container matColumnDef="action" class="col-1">
    <th mat-header-cell *matHeaderCellDef> Ações </th>
    <td mat-cell *matCellDef="let row; index as position">
      <div class="row">

        <div class="col-1 me-3">
          <button mat-icon-button *ngIf="!onEdit" (click)="atualizar(row)">
            <mat-icon class="edit">edit</mat-icon>
          </button>
        </div>

        <div class="col-1 me-3">
            <button class="delete" mat-icon-button *ngIf="!onEdit" (click)="deleteGridData(row.id)">
              <mat-icon class="delete">delete</mat-icon>
            </button>
        </div>

        <ng-template #deleteDialog>
          <mat-dialog-content class="mat-typography">
            Deseja apagar esse registro?
          </mat-dialog-content>
          <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button [mat-dialog-close]="true">Apagar</button>
          </mat-dialog-actions>
        </ng-template>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator [length]="this.totalCount" [pageSize]="10"
[pageSizeOptions]="[10, 20, 50]"></mat-paginator>
</div>


