<form class="example-container row container-fluid mt-4">
  <div class="ms-2">
    SEGUNDA A SEXTA:
    <mat-form-field appearance="fill" class="col-lg-1 ms-3 p-2">
      <mat-label>Inicio:</mat-label>
      <input matInput #input type="time" aria-label="horario_semana_inicio"
      name="horario_semana_inicio" id="horario_semana_inicio"
      [(ngModel)]="localdeatendimento.horario_semana_inicio">
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-lg-1 p-2">
      <mat-label>Fim:</mat-label>
      <input matInput #input type="time" aria-label="horario_semana_fim"
      name="horario_semana_fim" id="horario_semana_fim"
      [(ngModel)]="localdeatendimento.horario_semana_fim">
    </mat-form-field>

    SABADOS:
    <mat-form-field appearance="fill" class="col-lg-1 ms-3 p-2">
      <mat-label>Inicio:</mat-label>
      <input matInput #input type="time" aria-label="horario_sabado_inicio"
      name="horario_sabado_inicio" id="horario_sabado_inicio"
      [(ngModel)]="localdeatendimento.horario_sabado_inicio">
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-lg-1 p-2">
      <mat-label>Fim:</mat-label>
      <input matInput #input type="time" aria-label="horario_sabado_fim"
      name="horario_sabado_fim" id="horario_sabado_fim"
      [(ngModel)]="localdeatendimento.horario_sabado_fim">
    </mat-form-field>


    DOMINGOS:
    <mat-form-field appearance="fill" class="col-lg-1 ms-1 p-2">
      <mat-label>Inicio:</mat-label>
      <input matInput #input type="time" aria-label="horario_domingo_inicio"
      name="horario_domingo_inicio" id="horario_domingo_inicio"
      [(ngModel)]="localdeatendimento.horario_domingo_inicio">
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-lg-1 p-2">
      <mat-label>Fim:</mat-label>
      <input matInput #input type="time" aria-label="horario_domingo_fim"
      name="horario_domingo_fim" id="horario_domingo_fim"
      [(ngModel)]="localdeatendimento.horario_domingo_fim">
    </mat-form-field>

    <mat-slide-toggle color="primary" class="ms-5">Posto 24HRS</mat-slide-toggle>
  </div>
</form>
