<form class= "example-container row container-fluid mt-4">
  <div>
    <mat-form-field appearance="fill" class="col-lg-6 p-2">
      <mat-label>Razão Social</mat-label>
      <input matInput #razao_social
        aria-label="razao_social"
        id="razao_social"
        name="razao_social"
        [(ngModel)]="this.empresa.razao_social">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-lg-6 p-2">
      <mat-label>Nome Fantasia</mat-label>
      <input matInput #nome_fantasia
        aria-label="nome_fantasia"
        id="nome_fantasia"
        name="nome_fantasia"
        [(ngModel)]="this.empresa.nome_fantasia">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill" class="col-lg-3 p-2">
      <mat-label>CNPJ</mat-label>
      <input matInput #input
        maxlength="15"
        aria-label="CNPJ"
        id="CNPJ"
        name="CNPJ"
        [(ngModel)]="this.empresa.cnpj">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-lg-3 p-2">
      <mat-label>Inscrição Estadual</mat-label>
      <input matInput #input
        maxlength="15"
        aria-label="inscricao_estadual"
        id="inscricao_estadual"
        name="inscricao_estadual"
        [(ngModel)]="this.empresa.inscricao_estadual">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-lg-4 p-2">
      <mat-label>Alvará</mat-label>
      <input matInput #input
        maxlength="15"
        aria-label="alvara"
        id="alvara"
        name="alvara"
        [(ngModel)]="this.empresa.alvara">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-lg-2 p-2">
      <mat-label>Alvará UF</mat-label>
      <input matInput #input
        maxlength="2"
        aria-label="alvara_uf"
        id="alvara_uf"
        name="alvara_uf"
        [(ngModel)]="this.empresa.alvara_uf">
    </mat-form-field>
  </div>
</form>
