table {
  width: 100%;
}
.dvm-button {

  border-radius: 30px;
}
.edit  {
  color: #41d926;
}

.delete  {
  color: #e35e6b;
}

.btn {
  margin-right: 10px
}

.gridAddButton {
  display: flex;
  justify-content:flex-end;
}

.spinner-container {
  position: absolute;
  left: 46%;
  top: 45%;
}

.spinner-container mat-spinner {
  margin: 0 auto;
  width: 50%;
}

.buttons {
  position: relative;
  float: right;
  position: relative;
  padding-right: 30px;
  padding-top: 20px;
}
