<form #formConvenioDetalhe="ngForm" class="justify-content-md-center">
  <div class="">
    <mat-form-field appearance="fill" class="col-lg-3 col-md-3 p-2">
      <mat-label>Mascara de Carteirinha</mat-label>
      <input type="text" matInput min="1" matInput maxlength="50"
        id="versao" name="versao" title="Versão"
        [(ngModel)]="convenio.mascara_codigo">
    </mat-form-field>
    <div>
      <h3 class="ms-2">Guia:</h3>
      <mat-form-field appearance="fill" class="col-lg-5 col-md-5 p-2">
        <mat-label>Relatório de Guia</mat-label>
        <input
          type="search" name="idrelatorioguia" title="Relatório de Guia"
          matInput [matAutocomplete]="autoRelatorioGuia"
          [(ngModel)]="convenio.idrelatorioguia"
          (ngModelChange)="searchRelatorioGuia()"
          #idrelatorioguia="ngModel"
        />
        <mat-autocomplete #autoRelatorioGuia="matAutocomplete"
          [displayWith]="displayFnRelatorioGuia(relatoriosGuia)">
          <mat-option *ngFor="let relatorioGuia of relatoriosGuia" [value]=" relatorioGuia.id">
            {{ relatorioGuia.titulo }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-lg-3 col-md-3 p-2">
        <mat-label>Mascara da Guia</mat-label>
        <input type="text" matInput min="1" matInput maxlength="50"
          id="versao" name="versao" title="Versão"
          [(ngModel)]="convenio.mascara_guia">
      </mat-form-field>
    </div>

    <div>
      <h3 class="ms-2">Fatura:</h3>
      <mat-form-field appearance="fill" class="col-lg-5 col-md-5 p-2">
        <mat-label>Nome do Relatório</mat-label>
        <input
          type="search" name="idrelatoriofatura" title="Relatório de Fatura"
          matInput [matAutocomplete]="autoRelatorioFatura"
          [(ngModel)]="convenio.idrelatoriofatura"
          (ngModelChange)="searchRelatorioFatura()"
          #idrelatoriofatura="ngModel"
        />
        <mat-autocomplete #autoRelatorioFatura="matAutocomplete"
          [displayWith]="displayFnRelatorioFatura(relatoriosFatura)">
          <mat-option *ngFor="let relatorioFatura of relatoriosFatura" [value]=" relatorioFatura.id">
            {{ relatorioFatura.titulo }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-lg-3 col-md-3 p-2">
        <mat-label>Qtde. de Vias da Fatura</mat-label>
        <input type="number" matInput min="1" matInput maxlength="50"
          id="versao" name="versao" title="Versão"
          [(ngModel)]="convenio.vias_relatorio">
      </mat-form-field>
    </div>

    <div>
      <h3 class="ms-2">Exportação de Dados:</h3>
      <mat-form-field appearance="fill" class="col-lg-5 col-md-5 p-2">
        <mat-label>Nome do Objeto</mat-label>
        <input
          type="search" name="idrelatorioexportacao" title="Relatório de Exportação"
          matInput [matAutocomplete]="autoRelatorioExportacao"
          [(ngModel)]="convenio.idrelatorioexportacao"
          (ngModelChange)="searchRelatorioExportacao()"
          #idrelatorioexportacao="ngModel"
        />
        <mat-autocomplete #autoRelatorioExportacao="matAutocomplete"
          [displayWith]="displayFnRelatorioExportacao(relatoriosExportacao)">
          <mat-option *ngFor="let relatorioExportacao of relatoriosExportacao" [value]=" relatorioExportacao.id">
            {{ relatorioExportacao.titulo }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-lg-3 col-md-3 p-2">
        <mat-label>Versão do Layout</mat-label>
        <input type="number" matInput min="1" matInput maxlength="50"
          id="layout_fatura" name="layout_fatura" title="Versão do Layout"
          [(ngModel)]="convenio.layout_fatura">
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-lg-3 col-md-3 p-2">
        <mat-label>Registro ANS</mat-label>
        <input type="text" matInput min="1" matInput maxlength="50"
          id="registro_ans" name="registro_ans" title="Registro ANS"
          [(ngModel)]="convenio.registro_ans">
      </mat-form-field>
    </div>
  </div>
</form>
