table {
  width: 100%;
}
.dvm-button {

  border-radius: 30px;
}
.edit  {
  color: #41d926;
}

.delete  {
  color: #e35e6b;
}

.btn {
  margin-right: 10px
}

.mat-column-action {
  text-align: center;
  padding: 15px 0;
  justify-content: flex-end;
}
