<mat-form-field class="col-6 row">
  <mat-label>Tipo Instrumento: </mat-label>
    <input
      name="tipo_instrumento_id"
      matInput [matAutocomplete]="autoTipoInstrumento"
      [(ngModel)]="versaoExame.tipo_instrumento_id"
      (ngModelChange)="search()"
    />
</mat-form-field>

<mat-autocomplete #autoTipoInstrumento="matAutocomplete" [displayWith]="displayFn(tipoInstrumentos)">
  <mat-option *ngFor="let tipoInstrumento of tipoInstrumentos" [value]="tipoInstrumento.id">
    {{ tipoInstrumento.descricao}}
  </mat-option>
</mat-autocomplete>
