/* You can add global styles to this file, and also import other style files */
@use "./main.scss";

// Ajusta exibição do mat-select em modal
.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 9999 !important;
}

::ng-deep .cdk-overlay-connected-position-bounding-box { z-index: 10000 !important; }

.cdk-overlay-backdrop
{
  z-index:998 !important;
}

@page {
  margin: 0.5cm;
  counter-reset: page 1;
  counter-increment: page;
}

@media screen {
  .print, .timestamp {
    display: none
  }
}

@media print {
  .no-print, header, footer, aside, form, mat-toolbar, .mat-toolbar, .footer, .header, mat-paginator, .mat-paginator, mat-form-field, .mat-form-field, input, button, .mat-button-base, app-footer, app-header, .cdk-column-action, .mat-column-action, .cdk-column-Opercaoes {
    display: none !important;
  }
}
