<mat-card>
  <mat-card-title>Novo Laboratório</mat-card-title>
  <form>
    <mat-form-field>
      Nome
      <input
       
        matInput
        title="Nome"
        [(ngModel)]="laboratorio.nome"
        name="name"
      />
    </mat-form-field>

    <mat-form-field>
      <input
       
        matInput
        title="Serie"
        [(ngModel)]="laboratorio.serie"
        name="serie"
      />
    </mat-form-field>

    <mat-form-field>
      <input
       
        title="Domain"
        name="laboratory_domain"
        matInput [matAutocomplete]="auto" 
        [(ngModel)]="laboratorio.laboratory_domain_id"
        (ngModelChange)="search()"
      />
      <mat-autocomplete #auto="matAutocomplete"
       [displayWith]="displayFn(laboratoryDomains)">
        <mat-option *ngFor="let laboratoryDomain of laboratoryDomains"
         [value]="laboratoryDomain.id">
          {{laboratoryDomain.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <input
       
        matInput
        [matDatepicker]="criado_em"
        title="Criado em"
        [(ngModel)]="laboratorio.criado_em"
        name="criado em"
        required
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="criado_em"
      ></mat-datepicker-toggle>
      <mat-datepicker #criado_em></mat-datepicker>
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="createLaboratorio()" color="primary">
    Salvar
  </button>
  <button mat-raised-button (click)="cancel()" color="warn">Cancelar</button>
</mat-card>
